<div class="container">
	<nav class="navbar navbar-default" role="navigation">  <!-- navbar-fixed-top -->
	        <div class="navbar-header">   <!--  data-toggle="collapse" data-target=".navbar-collapse" -->
	            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed"   >
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand" href="#groupOfSection">Home</a>
	        </div>
	        <nav class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" >
	            <ul class="nav navbar-nav">
	                <li><a href="#groupOfSection"><i class="glyphicon glyphicon-home"></i> Home</a></li>
	                 <!-- is-open="status.isopen" ng-disabled="disabled" -->
	                <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
	                    <a href="" id="simple-dropdown" uib-dropdown-toggle class="dropdown-toggle" >
	                    	<i class="glyphicon glyphicon-list"></i>
							<span>Menu</span><b class="caret"></b>
	                    </a>
	                    <ul class="dropdown-menu" role="menu" >
	                        <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#song">
                                    <span>Song data</span>
                                </a>
                            </li>
	                        <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#page">
                                    <span>Song lists</span>
                                </a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="/">
                                    <span>View song lists</span>
                                </a>
                            </li>
	                    </ul>
	                </li>
	            </ul>
	            <ul class="nav navbar-nav navbar-right" ng-show="isAuthenticated()">
	                <li class="dropdown user-avatar" uib-dropdown on-toggle="toggled(open)">
	                    <a href="" class="dropdown-toggle" uib-dropdown-toggle >
	                        <span>
	                            <img src="http://www.gravatar.com/avatar/{{currentUser.md5HashEmail}}?s=20&amp;d=mm&amp;r=g">
	                            <span>{{user.name}}<i class="caret"></i></span>
	                        </span>
	                    </a>
		                <ul class="dropdown-menu" data-ng-controller="MenuController">

                            <li ng-show="isAdmin()" role="presentation"><a role="menuitem" tabindex="10" href="#user">
	                        	<i class="glyphicon glyphicon-plus"></i> List User</a></li>
							<li ng-show="isAdmin()" role="presentation"><a role="menuitem" tabindex="11" href="#group">
								<i class="glyphicon glyphicon-plus"></i> Edit Groups</a></li>
							<li ng-show="isAdmin()" role="presentation"><a role="menuitem" tabindex="12"  ng-click="openPasswordModel()">
	                        	<i class="glyphicon glyphicon-plus"></i> Update password</a></li>
							<li ng-show="isAdmin()" role="presentation"><a role="menuitem" tabindex="13"  ng-click="openSetting()">
								<i class="glyphicon glyphicon-plus"></i> Setting</a></li>
							<li class="divider"></li>
		                    <li><a ng-click="logout()" role="menuitem" >
		                    	<i class="glyphicon glyphicon-log-out"></i>
		                        <span>Log out</span>
		                        </a>
		                    </li>
		                </ul>
	                </li>
            	</ul>
	        </nav><!--/.nav-collapse -->
	</nav>
</div>

	
	
