
<div class="modal-header">
	<button type="button" class="close" ng-click="vm.cancel()" aria-hidden="true">&times;</button>
	<h3 class="modal-title">Update setting</h3>
</div>
<form role="form" name="updatePassForm" novalidate>
	<div class="modal-body">

		<div class="row">
			<div class="col-md-4">
				<div class="control-group">
					<label class="control-label">Category: </label>
					<div class="controls tagg-setting">
                        <div class="form-check" ng-repeat="o in vm.otaggs" >
                            <input class="form-check-input" type="checkbox" checked ng-model="o.check" id="o.tagg">
                            <label class="form-check-label" for="o.tagg">{{o.tagg}}</label>
                        </div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-disabled="updatePassForm.$error.required" ng-click="vm.updateSetting()">Update</button>
		<button class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
	</div>
</form>