

	<div class="modal-header">
		<button type="button" class="close" ng-click="vm.cancel()" aria-hidden="true">&times;</button>
    	<h3 class="modal-title">Update password</h3>
    </div>
	<form role="form" name="updatePassForm" novalidate>   
    	<div class="modal-body">

		<div class="row">
			<div class="col-md-4">
				<div class="control-group" 
					ng-class="{ 'has-error' : updatePassForm.currentPassword.$invalid && !updatePassForm.currentPassword.$pristine }" >  
	        		<label class="control-label" for="currentPassword">Current password: </label>
					<div class="controls">  
						<input name="currentPassword" type="password"
							class="form-control" ng-model="userPassword.currentPassword" required/>
					</div>
				</div>
				<div class="control-group" 
					ng-class="{ 'has-error' : updatePassForm.password.$invalid && !updatePassForm.password.$pristine }" >  
	        		<label class="control-label" for="password">Password: 
	        		</label>
					<div class="controls">  
						<input name="password" type="password"
							class="form-control" ng-model="userPassword.newPassword" required/>
					</div>
					<br/>
					<div class="controls">  
						<input name="confirmPassword" type="password"
							class="form-control" ng-model="userPassword.confirmPassword" match="userPassword.newPassword" required/>
					</div>
					<div class="messages" ng-show="updatePassForm.confirmPassword.$error.match">Fields do not match!</div>
				</div>
			</div>
		</div>
	
		</div>
    	<div class="modal-footer">
     		<button class="btn btn-primary" ng-disabled="updatePassForm.$error.required" ng-click="vm.updatePassword()">Update</button>
        	<button class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
    	</div>
	</form>  