<div class="container">
	<div class="row" >
		<div class="col-md-10 col-xs-6"><h4 class="page-header">Song Data</h4></div>
		<div class="col-md-2 col-xs-2 col-middle">
			<button type="button" class="btn btn-success btn-sm" ng-click="groupOfSectionCtrl_addMeta()">
				<span class="glyphicon glyphicon-plus-sign"></span><span>Add Section</span>
			</button>
		</div>
	</div>
	<div class="row" >
        <div class="col-md-8 col-xs-10">
			<ul uib-pagination ng-change="pageChanged(currentPage)" items-per-page="itemsPerPage" total-items="totalItems"
							ng-model="currentPage" max-size="maxSize" class="pagination pagination-sm" boundary-links="true">
			</ul>
        </div>
		<div class="col-md-4 col-xs-6">
			<input placeholder="Search word" type="search" value="" class="form-control"
				   ng-model="search"  ng-change="groupOfSectionCtrl_searchTable(search)"/>
		</div>
	</div>
    <div class="table-responsive">
	    <table class="table-responsive table-striped table-bordered" >
	        <thead>
	            <tr>
	            	<th width="2%" ></th>
	                <th width="*" ><a href="" ng-click="reverse=!reverse;order('title', reverse)">Title</a></th>
	                <th width="28%" class="hidden-xs"><a href="" ng-click="reverse=!reverse;order('originalTitle', reverse)">Original Title</a></th>
	                <th width="8%" ><a href="" ng-click="reverse=!reverse;order('category', reverse)">Category</a></th>
                    <th width="6%" ><a href="" ng-click="reverse=!reverse;order('updated', reverse)">Updated</a></th>
	                <th width="4%" class="hidden-xs"></th>
					<th width="4%" class="hidden-xs"></th>
	            </tr>
	        </thead>
	        <tbody ng-repeat="g in groups" >   <!--  | filter: searchKeyword  -->
	            <tr>
	            	<td>
                        <button ng-if="g.expanded" ng-click="groupOfSectionCtrl_clickExpand(g)">
                            <i class="glyphicon glyphicon-minus"></i>
                        </button>
	              		<button ng-if="!g.expanded" ng-click="groupOfSectionCtrl_clickExpand(g)">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
	            	</td>
	            	<td ng-click="groupOfSectionCtrl_editMeta(g.id)"><a href="">{{g.title}}</a></td>
	                <td class="hidden-xs" >{{g.originalTitle}}</td>
	                <td class="noLineBreak">{{g.category}}</td>
                    <td class="noLineBreak">{{g.updated | date: 'yyyy-MM-dd'|uppercase}}</td>
					<td class="hidden-xs nowrap">
						<button ng-click="groupOfSectionCtrl_editSection(g)">{{g.type}}</button>
					</td>
	                <td class="hidden-xs nowrap">
	                    <button mw-confirm-click="groupOfSectionCtrl_delSection(g)"  mw_confirm_click_message="Are you sure you what to delete the song?"  >
	                    	<span class="glyphicon glyphicon-remove-circle"/>
	                    </button>
	                </td>
	            </tr>
	            <tr ng-if="g.expanded" ng-repeat-end="">
	            	<td colspan="5">
	            		<table class="table">
	            			<tr>
                                <td width="2%"></td>
	            				<td width="*"><div class="song" ng-bind-html="g.data" /></td>
	            			</tr>
	            		</table>
	            	</td>
	          	</tr> 
	        </tbody>
	    </table>
	</div>
	   <p>
        Total items: {{totalItems}}<br />
        Items per page: {{itemsPerPage}}<br />
        Current Page: {{currentPage}}<br />
      </p>
    
</div>
