
<h1 class="page-header">Spotify List</h1>
    
<div>
    
    <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true"></pagination>
	<table >
	 	<thead>
	    	<tr><th>Name</th></tr>
	    </thead>
	    <tbody ng-repeat="t in tracks" >
      		<tr>
	           <td>{{t.name}}</td>
	        </tr>
	    </tbody>
	</table> 
     
    <br />
    <p>
    	Page {{watchPage}} was selected from $watch<br />
        Total items: {{totalItems}}<br />
        Items per page: {{itemsPerPage}}<br />
        Items shown: {{count}}<br />
        Current Page: {{currentPage}}<br />
        OffSet: {{offset}}
      </p>
    
</div>    
    


