<div class="container">
	<div class="page-header">
		<div class="row" >
			<div class="col-md-10 col-xs-6">
				<h4>User List</h4>
			</div>
			<div class="col-md-2 col-xs-2 col-middle">

				<button type="button" class="btn btn-success btn-sm" ng-click="userCtrl.gotoAddUser()">
					<span class="glyphicon glyphicon-plus-sign"></span><span>Add User</span>
				</button>
			</div>
		</div>
	</div>

    <div class="table-responsive" >
	    <table class="table-responsive table-striped table-bordered" >
	        <thead>
	            <tr>
	            	<th width="5%" ></th>
	                <th width="25%" ><a href="" ng-click="reverse=!reverse;order('username', reverse)">Title</a></th>
	                <th width="25%" class="hidden-xs"><a href="" ng-click="reverse=!reverse;order('email', reverse)">Email</a></th>
					<th width="10%" >Enabled</th>
					<th width="10%" >Password Expired</th>
                    <th width="25%" ></th>
	            </tr>
	        </thead>
	        <tbody ng-repeat="u in userCtrl.users" >   <!--  | filter: searchKeyword  -->
	            <tr ng-click="userCtrl.gotoEditUser(u)">
					<td></td>
	            	<td><a href="">{{u.username}}</a></td>
	                <td class="hidden-xs" >{{u.email}}</td>
					<td class="hidden-xs" >{{u.enabled}}</td>
					<td class="hidden-xs" >{{u.passwordExpired}}</td>
                    <td>
                        <button ng-click="userCtrl.newPassword(u)">
                            New password
                        </button>
                    </td>
	            </tr>
	        </tbody>
	    </table>
	</div>
    
</div>
