<div>
	
	<div ng-if="doSave" >
			<h3 class="page-header">New User</h3>
		</div>
		<div ng-if="!doSave" >
			<h3 class="page-header">Update User</h3>
	</div>
	
	<form role="form" name="userForm" novalidate >	
		
		<div class="row">
			<div class="col-md-10">
				<div class="control-group" 
					ng-class="{ 'has-error' : userForm.user.$invalid && !userForm.user.$pristine }" >  
	        		<label class="control-label" for="userName_id">Username:</label>
	        		<span class="error" ng-show="userForm.user.$error.required"> [Required!]</span>
					<div class="controls">  
						<input id="user_id" name="user" type="text"
							class="form-control" ng-model="user.user" required/>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<div class="control-group" 
					ng-class="{ 'has-error' : (userForm.pass.$invalid && !userForm.pass.$pristin) ||  
												(userForm.pass2.$invalid && !userForm.pass2.$pristine) }" >  
	        		<label class="control-label" for="pass_id">Pass:</label>
	        		<span class="error" ng-show="userForm.pass.$error.required || userForm.pass2.$error.required"> [Required!]</span>
					<div class="controls">  
						<input id="pass_id" name="pass" type="password" 
							class="form-control" ng-model="user.pass" required/>
					</div>
					<br/>  
					<div class="controls">  
						<input id="pass2_id" name="pass2" type="password" 
							class="form-control" ng-model="user.pass2" required/>
					</div>
				</div>
			</div>
		</div>				
		
		
		<div class="row">
			<div class="col-md-4">			
				<div class="control-group" 
					ng-class="{ 'has-error' : userForm.role.$invalid && !userForm.role.$pristine }" >
					<label class="control-label" for="role_id">Authority</label>
					<span class="error" ng-show="userForm.role.$error.required"> [Required!]</span>
        			<div class="controls">
						<select id="role_id" name="role" ng-model="user.authority" ng-selected="user.authority"
		        			class="form-control" ng-options="role.authority for role in roles" required>
		        			<option value="">Pick a role</option>
		        		</select>  					        	
		        	</div>
    			</div>
    		</div>	
    		<div class="col-md-4">			
				<div class="control-group" 
					ng-class="{ 'has-error' : userForm.rolegroup.$invalid && !userForm.rolegroup.$pristine }" >
					<label class="control-label" for="rolegroup_id">Group</label>
					<span class="error" ng-show="userForm.rolegroup.$error.required"> [Required!]</span>
        			<div class="controls">
						<select id="rolegroup_id" name="authority" ng-model="user.rolegroup" ng-selected="user.rolegroup"
		        			class="form-control" ng-options="rolegroup.name for rolegroup in rolegroups" required>
		        			<option value="">Pick a Group</option>
		        		</select>  					        	
		        	</div>
    			</div>
    		</div>
		</div>
	

	</form>
</div>