<div sha-loading-spinner="viewLoading">
    <h1 class="page-header">Book List</h1>
    <table class="table">
        <thead>
            <tr>
                <th width="25px">ID</th>
                <th>TITLE</th>
                <th>PRICE</th>
                <th>AUTHOR</th>
                <th width="120px"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="e in books | orderBy:orderProp">
                <td>{{e.id}}</td>
                <td>{{e.title}}</td>
                <td>{{e.price|currency}}</td>
                <td>{{e.author}}</td>
                <!-- ng-show="user.id &&user.id==e.user_id" -->
                <td>
                	<a ng-click="editBook(e.id)" >
                		<i class="glyphicon glyphicon-pencil"> </i></a>&nbsp;&nbsp;
                    <a ng-click="delBook(e.id)" >
                    	<i class="glyphicon glyphicon-remove-circle"> </i></a>
                </td>
            </tr> 
        </tbody>
    </table>
<!-- ng-show="user.username" -->
    <p>
        <button type="button" class="btn btn-success" ng-click="addBook()">
            <b class="icon-plus-sign"></b>Add Book
        </button>
    </p>
    
</div>