
<div sha-loading-spinner="viewLoading">
	<h1 class="page-header">Lists</h1>
        	
   	<div class="table-responsive" data-ng-init="loadPageList()" > 
		<pagination ng-change="pageChanged(currentPage)" items-per-page="itemsPerPage" total-items="totalItems" 
			ng-model="currentPage" max-size="maxSize" class="pagination pagination-sm" boundary-links="true"></pagination>    
		<table class="table table-striped table-bordered" >
		        <thead>
		            <tr>
		                <th>Name</th>
		                <th>Category</th>
		         
		            </tr>
		        </thead>
		        <tbody ng-repeat="p in listOfPages | orderBy:'name'">
		            <tr>
		
		                <td>
		                	<a href="vy#/main/{{p.id}}" >{{p.name}}</a>
		                </td>
		                <td>{{p.category}}</td>
		                
		            </tr>
		        </tbody>
		</table>

	</div>   
</div>	
