<div sha-loading-spinner="viewLoading" data-ng-init="loadData()" >	
	<div>  
		<table id="vy">  
			<tbody>
		     	<tr>
		        	<td class="sideLeftBtn"  ng-click="left()" keyleft>
	    		 		<span class="glyphicon glyphicon-arrow-left"/>
		            </td>
		            <td class="mainvy">
		            	<div ng-bind-html="pageList.pageParts[currentPart].sections[0].data" />
		            </td>
		            <td class="sideRightBtn"  ng-click="right()" keyright >
	    		 		<span class="glyphicon glyphicon-arrow-right"/>
		            </td>
		    	</tr>
		    </tbody>
		</table>
	</div>  
	<div class="divider"></div> 
	<br/>
</div>	
	

