<div>
	<form>
		
		<div ng-if="doSave" >
			<h1 class="page-header">New Section</h1>
		</div>
		<div ng-if="!doSave" >
			<h1 class="page-header">Update Section</h1>
		</div>
		
		<fieldset>
		
    		<table class="table">

        		<tbody>
        			<tr>
        				<td>
	        				<label class="control-label" for="title">Title</label>
							<div class="controls">
								<input id="title" type="text" class="input-block-level"
									required="true" ng-model="meta.title"></input>
							</div>
	        			</td>
	        			<td>
	        				<label class="control-label" for="Language">Language</label>
	        				<div class="controls">
			        		<select id="language" ng-model="meta.language" required="true"
			        			ng-options="language as language for language in languages"></select>
	        				</div>
	        			</td>
	        			<td>
	        				<label class="control-label" for="type">Type</label>
	        				<div class="controls">
			        		<select id="type" ng-model="meta.sectionType" required="true"
			        			ng-options="stype as stype for stype in stypes"></select>
	        				</div>
	        			</td>
        		
        			</tr>
        		</tbody>
			</table>
		
		
			<div class="control-group">
			
				<label class="control-label" for="orgTitle">Data</label>
				<div class="controls">
					<textarea id="data" class="form-control" rows="6"
						required="true" ng-model="section.data"></textarea>	
				</div>
			
    		</div>
    		
    		
    					
		</fieldset>
		
		
		
		<div ng-if="doSave"  class="form-actions" >
			<button class="btn btn-primary" ng-click="saveSection()">Add Section</button>
		</div>
		<div ng-if="!doSave"  class="form-actions" >
			<button class="btn btn-primary" ng-click="updateSection()">Update Section</button>
		</div>
	</form>
</div>