<div>
	
	<div ng-if="doSave" >
			<h3 class="page-header">New Section</h3>
		</div>
		<div ng-if="!doSave" >
			<h3 class="page-header">Update Section</h3>
	</div>
	
	<form role="form" name="sectionForm" novalidate >	
	
	<div class="panel panel-default">
 
	  	<div class="panel-heading">
			<div class="row">
				<div class="col-md-2">
					
					<div class="form-group" ng-class="{ 'has-error' : sectionForm.sectionType.$invalid && !sectionForm.sectionType.$pristine }" >
		        		<!-- label class="control-label" for="sectionType_id">Type</label -->
		        		<div class="controls">
				        	<select id="sectionType_id" name="sectionType" ng-model="section.type" 
				        		class="input-medium" ng-options="stype as stype for stype in stypes" required>
				        		<option value="">Pick a type</option>
				        	</select>
		        		</div>
		        	</div>
				</div>
				<div class="col-md-2">
					<div class="form-group" ng-class="{ 'has-error' : sectionForm.key.$invalid && !sectionForm.key.$pristine }" >
		        		<!-- label class="control-label" for="language_id">Key</label -->
		        		<div class="controls">
				        	<select id="key_id" name="key" ng-model="section.key" 
				        		class="input-medium" ng-options="key as key for key in keys" required>
				        		<option value="">Pick a key</option>
				        	</select> 
		        		</div>
		        	</div>	
				</div>
				
				<div class="col-md-4">
					<div ng-if="doSave"  class="form-actions" > <!--  || sectionForm.$invalid -->
						<button class="btn btn-primary btn-xs" 
							ng-disabled="sectionForm.$error.required"
							ng-click="saveSection(sectionForm)">Add Section</button>
					</div>
					<div ng-if="!doSave"  class="form-actions" >
						<button class="btn btn-primary btn-xs" 
							ng-disabled="sectionForm.$error.required"
							ng-click="updateSection(sectionForm)">Update Section</button>
					</div>
				</div>
				<div class="col-md-4"></div>
			</div>			
		</div>
		
		<div class="panel-body">
			
			<div class="form-group" ng-class="{ 'has-error' : sectionForm.data.$invalid && !sectionForm.data.$pristine }" >
				<!-- label class="control-label" for="data_id">Data</label -->
				<div class="controls">
					<textarea id="data_id" name="data" class="form-control" rows="6"
							ng-model="section.data" required></textarea>
				</div>		
	    	</div>
		</div>
	

	</form>
</div>