<div layout="column" data-ng-init="mainViewListCtrl_loadPageList()" ng-cloak>

    <md-content>
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <h1 flex md-truncate><a href="/"> Songpoint </a></h1>
                <md-menu md-position-mode="target-right target" >
                    <md-button aria-label="Open menu" ng-click="$mdMenu.open($event)">
                        <md-icon md-menu-align-target class="material-icons">menu</md-icon>
                    </md-button>
                    <md-menu-content width="4" >
                        <md-menu-item>
                            <md-button ng-click="mainViewListCtrl_goToSongList()">
                                <div layout="row"> List song </div>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="ctrl.announceClick($index)">
                                <div layout="row"> About </div>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="logout()">
                                <div layout="row"> Logout </div>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>

        <md-list>
            <md-subheader class="md-no-sticky">List of songs collections</md-subheader>
            <md-list-item ng-repeat="p in items">
                <div flex="100" layout="column">
                    <div layout="row" >
                        <p layout="row" flex="55" flex-sm="25" flex-gt-sm="15">
                            <span class="expandSign" ng-if="p.expanded" ng-click="mainViewListCtrl_clickExpand(p)">-</span>
                            <span class="expandSign" ng-if="!p.expanded" ng-click="mainViewListCtrl_clickExpand(p)">+</span>
                            <a href ng-click="mainViewListCtrl_gotoScreen(p.id)">{{p.name}}</a>
                        </p>
                        <p>
                            <md-checkbox aria-label="Checkbox Remove key" class="md-primary" ng-model="p.special">Remove key</md-checkbox>
                        </p>
                    </div>
                    <div ng-if="p.expanded" layout="column">
                        <span ng-repeat="part in pageList.pageParts">&nbsp;&nbsp;&bull;&nbsp;{{part.section.title}}</span>
                    </div>
                </div>
                <md-divider ></md-divider>
            </md-list-item>
        </md-list>

    </md-content>
</div>