<div id="content" sha-loading-spinner="viewLoading" data-ng-init="mainViewListCtrl_loadPageList()"  ng-cloak layout-gt-sm="row" layout="column">

    <div flex-gt-sm="150" flex>
        <md-toolbar layout="row" class="md-hue-2">
            <div class="md-toolbar-tools">
                <span>Lists</span>
            </div>
        </md-toolbar>

        <md-list flex>
            <md-subheader class="md-no-sticky">List of songs collections</md-subheader>
            <md-list-item class="md-2-line" ng-repeat="p in items">
                <div class="md-list-item-text" layout="column">
                    <h3>
                        <span ng-if="p.expanded" ng-click="p.expanded = false">- </span>
                        <span ng-if="!p.expanded" ng-click="p.expanded = true">+ </span>
                        <a href="" ng-click="mainViewListCtrl_gotoScreen(p.id)">{{p.name}}</a>
                    </h3>
                    <p ng-if="p.expanded" layout="column">
                        Category: {{p.category}}
                        <span ng-repeat="pp in p.pageParts">
                                {{pp.sectionMeta.id}}
                        </span>
                    </p>
                </div>
                <md-divider ></md-divider>
            </md-list-item>
        </md-list>
    </div>

</div>