<div layout="column" data-ng-init="mainViewListCtrl_loadPageList()" ng-cloak>

    <md-content>
        <div ng-include="'static/webpoint/screen/views/menu.html'"></div>
        <md-list>
            <md-subheader class="md-no-sticky">List of songs collections
                <span flex-offset="0" flex-offset-gt-xs="5">
                    <md-checkbox aria-label="Checkbox Remove key" ng-model="withoutkeys">Remove key</md-checkbox>
                </span>
            </md-subheader>
            <div ng-repeat="p in items">
                <div flex layout="column">
                    <div layout="row" >
                        <p class="listItem">
                            <a href class="expandSign" ng-if="p.expanded" ng-click="mainViewListCtrl_clickExpand(p)">-</a>
                            <a href class="expandSign" ng-if="!p.expanded" ng-click="mainViewListCtrl_clickExpand(p)">+</a>
                            <a href ng-click="mainViewListCtrl_gotoScreen(p.id)">{{p.name}}</a>
                        </p>
                    </div>
                    <div flex-offset="5" ng-if="p.expanded" >
                        <div ng-repeat="part in pageList.pageParts">&nbsp;&nbsp;&bull;&nbsp;{{part.section.title}}</div>
                    </div>
                </div>
                <md-divider ></md-divider>
            </div>
        </md-list>

    </md-content>
    <div ng-include="'static/webpoint/screen/views/include/footer.html'"></div>
</div>