<md-dialog aria-label="Song">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>{{song.title}}</h3>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-menu-align-target class="material-icons ">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content  class="songContent">
            <div class="md-dialog-content">
                <div layout="row">
                    <div flex="60">
                        <h4>Links:</h4>
                        <div ng-repeat="l in song.links" flex>
                            <h5>
                                <a href="{{l}}" target="blank">{{l | gethost}}</a>
                            </h5>
                        </div>
                    </div>
                    <div flex="40" class="dialogInfo">
                        <h4>Category:</h4>
                        <h5><span>{{song.category}}</span></h5>
                        <div ng-repeat="t in song.taggs" flex>
                            <h5><span>{{t}}</span></h5>
                        </div>
                    </div>
                </div>
                <div layout="column" flex="100">
                    <p class="songtext">{{song.data}}</p>

                </div>
            </div>
        </md-dialog-content>


    </form>
</md-dialog>
