<md-dialog flex-xs="95" layout-fill aria-label="Song">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h5>{{song.title}}</h5>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-menu-align-target class="material-icons ">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content layout-fill flex="100" class="songContent">
            <div class="md-dialog-content">
                <div layout="row" layout-xs="column">
                    <div flex="50" >
                        <h5>Links:</h5>
                        <div ng-repeat="l in song.oLinks" flex>
                            <a href="{{l.url}}" target="blank">{{l.name}}</a>
                        </div>
                    </div>
                    <div flex="50" class="dialogInfo">
                        <h5>Category:</h5><span>{{song.category}}</span>
                        <div ng-repeat="t in song.taggs" flex>
                            <span>{{t}}</span>
                        </div>
                    </div>
                </div>

                <md-content flex>
                    <p class="songtext">{{song.data}}</p>
                </md-content>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
