# .gitignore for Grails 1.2 and 1.3

# web application files
/webpoint*/web-app/WEB-INF

# IDE support files
/webpoint*/.classpath
/webpoint*/.launch
/webpoint*/.project
/webpoint*/.settings
/webpoint*/*.launch
/webpoint*/*.tmproj
/webpoint*/ivy*
/webpoint*/eclipse

# default HSQL database files for production mode
/webpoint*/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
/webpoint*/stacktrace.log
/webpoint*/test/reports
/webpoint*/logs

# project release file
/webpoint*/*.war

# plugin release file
/webpoint*/*.zip

# older plugin install locations
/plugins
/webpoint*/web-app/plugins
/webpoint*/web-app/WEB-INF/classes

# "temporary" build files
/webpoint*/target

# other
*.iws

# Session file 
/webpoint*/SESSIONS.ser

