	<div class="navbar navbar-default" role="navigation" >
		<div class="navbar-inner">
			<div class="container-fluid">
				<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-2"> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</a> 
				<a class="navbar-brand" href="#"> test<msg key="title"></msg></a>
				<div class="nav-collapse collapse" id="bs-example-navbar-collapse-2">
					<ul class="nav">
						<li><a href="#/books">Books</a></li>
						<li><a href="#/new">New Book</a></li>
					</ul>
				</div>
				<form class="navbar-form pull-right">
					<button onclick=" $('#login').modal('show');"  class="btn btn-primary" ng-hide="user.username">Login</button>
                    <span ng-show="user.username"><button ng-click="logout()" class="btn btn-success">Logout!</button></span>
                </form>
			</div>
		</div>
	</div>

<div class="header" data-ng-controller="AppController">
    <ul class="nav nav-pills pull-right">
        <li when-active><a href="#/books">Home</a></li>
        <li data-ng-repeat="m in menu" when-active><a href="#/{{m.slug}}">{{m.title}}</a></li>
    </ul>
    <h3 class="text-muted">{{settings.title}}</h3>
    
</div>