<div ng-app="userApp"  class="container">
	<span us-spinner="{radius:20, width:8, length: 10}" spinner-key="spinner-1"></span>
	<nav class="navbar navbar-default" role="navigation" data-ng-controller="AppController">  <!-- navbar-fixed-top -->
	        <div class="navbar-header">   <!--  data-toggle="collapse" data-target=".navbar-collapse" -->
	            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed"   >
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand" href="#groupOfSection">Home</a>
	        </div>
	        <nav class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" >
	            <ul class="nav navbar-nav">
	                <li><a href="#groupOfSection"><i class="glyphicon glyphicon-home"></i> Home</a></li>
	                 <!-- is-open="status.isopen" ng-disabled="disabled" -->
	                <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
	                    <a href="" id="simple-dropdown" uib-dropdown-toggle class="dropdown-toggle" >
	                    	<i class="glyphicon glyphicon-align-center"></i> Section <b class="caret"></b>
	                    </a>
	                    <ul class="dropdown-menu" role="menu" >
	                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#section">
	                        	<i class="glyphicon glyphicon-list"></i> All Section</a></li>
	               
	                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#groupOfPagesList">
	                        	<i class="glyphicon glyphicon-plus"></i> Add new page list</a></li>
	                    </ul>
	                </li>
	            </ul>
	            <ul class="nav navbar-nav navbar-right">
	                <li class="dropdown user-avatar" uib-dropdown on-toggle="toggled(open)">
	                    <a href="" class="dropdown-toggle" uib-dropdown-toggle >
	                        <span>
	                            <img src="http://www.gravatar.com/avatar/{{currentUser.md5HashEmail}}?s=20&amp;d=mm&amp;r=g">
	                            <span>{{user.name}}<i class="caret"></i></span>
	                        </span>
	                    </a>
		                <ul class="dropdown-menu">
		                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#adduser">
	                        	<i class="glyphicon glyphicon-plus"></i> Add User</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1"  ng-click="openPasswordModel()">
	                        	<i class="glyphicon glyphicon-plus"></i> Update password</a></li>	                      
	                      	<li role="presentation"><a role="menuitem" tabindex="-1"  ng-click="openGroupModel()">
	                        	<i class="glyphicon glyphicon-plus"></i> Add Group</a></li>	
	                     
		                    <li class="divider"></li>
		                    <li><a ng-click="logout()" role="menuitem" >
		                    	<i class="glyphicon glyphicon-log-out"></i>
		                        <span>Log out</span>
		                        </a>
		                    </li>
		                </ul>
	                </li>
            	</ul>
	        </nav><!--/.nav-collapse -->
	</nav>
</div>

	
	
