
<div class="center-block form-signin">
<div id="login-error" class="alert alert-danger" style="display: none;">
    <button type="button" class="close" onclick="$('#login-error').hide();">&times;</button>
    Username and/or password incorrect.
</div>
<form name="loginForm" role="form" autocomplete="off" novalidate>
    <h2 class="form-signin-heading">Please sign in</h2>
    <div class="form-group row">
        <div class="col-md-4">
            <input name="username" class="form-control" type="text" ng-model="authData.username" placeholder="Username"/>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">
            <input name="password" class="form-control" type="password" ng-model="authData.password" placeholder="Password"/>
        </div>
    </div>

    <div class="form-group row-fluid">
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary pull-right" ng-click="logIn()">Sign in</button>
        </div>
    </div>

</form>
</div>