<div layout="column" ng-cloak class="md-inline-form">
    <md-content flex>
        <md-toolbar layout="row" class="md-hue-2">
            <div class="md-toolbar-tools">
                <h1><a href="/"> Songpoint </a></h1>
            </div>
        </md-toolbar>
    </md-content>

    <md-content layout-padding>
        <form name="passForm" role="form" autocomplete="off" novalidate>
            <h2 class="form-signin-heading">Change password</h2>

            <div layout="column" flex="20">
                <md-input-container>
                    <label>Password</label>
                    <input name="pass1" type="password" ng-model="user.newPassword" placeholder="Password"/>
                </md-input-container>
                <md-input-container>
                    <label>Confirm Password</label>
                    <input name="pass2" type="password" ng-model="user.confirmPassword" placeholder="Confirm"/>
                </md-input-container>
                <md-button type="submit" ng-click="vm.update()">Update</md-button>
            </div>
        </form>
    </md-content>
    <div ng-include="'/webpoint/screen/footer.tpl.html'"></div>
</div>


