<div layout="column" ng-cloak>
    <div id="snackbar">{{activeSong.section.title}}</div>

    <div id="wrap">

        <div class="sideLeftPageBtn" ng-click="vyCtrl_leftPage()"
             ng-if="pageList.pageParts[currentPart].section.binary.$$state.value.length > 0">
            <i class="material-icons md-24">chevron_left</i>
        </div>
        <div ng-if="pageList.pageParts[currentPart].section.type == 'IMAGE'"
             class="vyImgArea">
            <img class="stretch" alt=""
                 src="data:image/JPG;base64,{{pageList.pageParts[currentPart].section.binary.$$state.value[currentPage].base64}}">
        </div>
        <div class="sideRightPageBtn" ng-click="vyCtrl_rightPage()"
            ng-if="pageList.pageParts[currentPart].section.binary.$$state.value.length > 0">
            <i class="material-icons md-24">chevron_right</i>
        </div>
        <div ng-if="pageList.pageParts[currentPart].section.type == 'TEXT'
                            || pageList.pageParts[currentPart].section.type == 'TEXTCHORDS'"
             class="vyMainArea"  ng-class="fontSize" layout="row"
             ng-bind-html="pageList.pageParts[currentPart].section.fdata" >
        </div>
    </div>
    <div hide-xs class="sideLeftBtn sideBtn" ng-click="vyCtrl_left()" keyleft>
        <i class="material-icons md-48">chevron_left</i>
    </div>
    <div class="menuToggleSideNav" ng-click="vyCtrl_toggleSideNavRight1()" aria-label="List">
        <i class="material-icons md-28">menu</i>
    </div>
    <div hide-xs class="sideRightBtn sideBtn" ng-click="vyCtrl_right()" keyright>
        <i class="material-icons md-48">chevron_right</i>
    </div>
    <div>
        <md-sidenav class="md-sidenav-right"
                    md-component-id="sidenav-right_1"
                    md-whiteframe="10">
            <md-content>
                <md-subheader class="md-primary">Song list</md-subheader>
                <md-list layout="column">
                    <md-list-item ng-repeat="p in pageList.pageParts" class="sidenav-list-item" layout="row" >
                        <span ng-click="vyCtrl_clickLNavList($index)"
                              class="mdl-list_item-primary-content" flex="90">
                            {{p.section.title}}
                            <md-divider></md-divider>
                        </span>
                        <!-- span ng-click="vyCtrl_moveUpward($index)"
                              class="mdl-list_item-secondary-action" >
                            <i ng-if="$index > 0" class="material-icons md-20">arrow_upward</i>
                            <md-divider></md-divider>
                        </span -->
                    </md-list-item>
                </md-list>
                <md-button ng-click="vyCtrl_toggleSideNavRight2()"  class="toggleSideNav" aria-label="List">
                    <div class="icon-wrapper">
                        <i class="material-icons md-20">settings</i><p class="icon-text">Settings</p>
                    </div>
                </md-button>
                <md-button ng-click="vyCtrl_closeSidenav('sidenav-right_1')" >
                    <div class="icon-wrapper">
                        <i class="material-icons md-20">close</i><p class="icon-text">Close</p>
                    </div>
                </md-button>
            </md-content>
        </md-sidenav>
        <md-sidenav class="md-sidenav-right"
                    md-component-id="sidenav-right_2"
                    md-whiteframe="10">
            <md-content>
                <md-button ng-click="vyCtrl_goBack()">
                    <div class="icon-wrapper">
                        <i class="material-icons md-20">view_list</i><p class="icon-text">Go back to list</p>
                    </div>
                </md-button>
                <md-divider></md-divider>
                <md-input-container class="md-title">
                    <label>Text size:</label>
                    <md-select md-selected-text="vyCtrl_changeSize()" ng-model="selectedSize"
                               class="md-no-underline md-select">
                        <md-option ng-repeat="size in [0,1,2,3]" ng-value="size">Size {{size}}</md-option>
                    </md-select>
                </md-input-container>
                <md-divider></md-divider>
                <md-input-container class="md-title">
                    <label>Key:</label>
                    <md-select ng-model="selectedKey" md-selected-text="vyCtrl_getSelectedKey()"
                               class="md-no-underline md-select">
                        <md-optgroup>
                            <md-option ng-value="key" ng-repeat="key in keys">{{key}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
                <md-button ng-click="vyCtrl_changeKey()">
                    <div class="icon-wrapper">
                        <i class="material-icons md-20">straighten</i><p class="icon-text">Change key</p>
                    </div>
                </md-button>
                <md-divider ></md-divider>
                <md-button ng-click="vyCtrl_print()">
                    <div class="icon-wrapper">
                        <i class="material-icons md-20">local_printshop</i><p class="icon-text">Print current</p>
                    </div>
                </md-button>
                <md-divider ></md-divider>
                <md-button ng-click="vyCtrl_cleanCash()">
                    <div class="icon-wrapper">
                        <i class="material-icons md-20">cached</i><p class="icon-text">Clean cash</p>
                    </div>
                </md-button>

                <md-divider ></md-divider>
                <md-button ng-click="vyCtrl_toggleSideNavRight1()" class="toggleSideNav" aria-label="List">
                    <div class="icon-wrapper">
                        <i class="material-icons md-20">menu</i><p class="icon-text">Menu</p>
                    </div>
                </md-button>
                <md-button ng-click="vyCtrl_closeSidenav('sidenav-right_2')">
                    <div class="icon-wrapper">
                        <i class="material-icons md-20">close</i><p class="icon-text">Close</p>
                    </div>
                </md-button>
            </md-content>
        </md-sidenav>
    </div>
</div>


<!-- div class="vyMainArea">
    <table>
        <tbody>
        <tr class="vyRow">
            <td class="sideLeftPageBtn" ng-click="vyCtrl_leftPage()"
                ng-if="pageList.pageParts[currentPart].section.binary.$$state.value.length > 1">
                <i class="material-icons md-22">chevron_left</i>
            </td>
            <td class="vyArea"
                md-swipe-left="vyCtrl_left()" md-swipe-right="vyCtrl_right()">
                <div class="vyImgArea"
                     ng-if="pageList.pageParts[currentPart].section.type == 'IMAGE'" >

                    <img class="stretch" alt=""
                         src="data:image/JPG;base64,{{pageList.pageParts[currentPart].section.binary.$$state.value[currentPage].base64}}">
                </div>
            </td>
            <td class="sideRightPageBtn" ng-click="vyCtrl_rightPage()"
                ng-if="pageList.pageParts[currentPart].section.binary.$$state.value.length > 1">
                <i class="material-icons md-22">chevron_right</i>
            </td>
        </tr>
        </tbody>
    </table>
</div -->
