

	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    	<h3 class="modal-title">Create page list</h3>
    </div>
	<form role="form" name="listOfPagesForm" novalidate>   
    	<div class="modal-body">

		<div class="row">	
			<div class="col-md-4">		
				<div class="control-group"  
					ng-class="{ 'has-error' : listOfPagesForm.name.$invalid && !listOfPagesForm.name.$pristine }" >
					<label class="control-label" for="name_id">Name</label>
					<span class="error" ng-show="listOfPagesForm.name.$error.required"> [Required!]</span>
					<div class="controls">
						<input id="name_id" name="name" type="text" 
							class="form-control" ng-model="pageList.name" required/> 		
					</div>
				</div>
			</div>	
			<div class="col-md-4">		
				<div class="control-group"  
					ng-class="{ 'has-error' : listOfPagesForm.category.$invalid && !listOfPagesForm.category.$pristine }" >
					<label class="control-label" for="category_id">Category</label>
					<span class="error" ng-show="listOfPagesForm.category.$error.required"> [Required!]</span>
					<div class="controls">
						<input id="category_id" name="category" type="text" 
							class="form-control" ng-model="pageList.category" required/> 		
					</div>
				</div>
			</div>
			<div class="col-md-2">	
			
			</div>			
		</div>
	
		</div>
    	<div class="modal-footer">
     		<button class="btn btn-primary" ng-disabled="listOfPagesForm.$error.required" ng-click="modalInstanceCtrl_addPageList()">Create</button>
        	<button class="btn btn-warning" ng-click="modalInstanceCtrl_cancel()">Cancel</button>
    	</div>
	</form>  