<div class="container">
	<div>
		<h3 class="page-header" ng-show="doSave" >Add User</h3>
		<h3 class="page-header" ng-show="!doSave" >Edit User</h3>
	</div>
	<form role="form" name="userForm" novalidate >
		
		<div class="row">
			<div class="col-md-6">
				<div class="control-group" 
					ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }" >
	        		<label class="control-label" for="username">Username:
	        		 	<span ng-messages="userForm.username.$error"
	        		 		ng-messages-include="common/views/messages/error.html" ></span> 
	        		 </label>
					<div class="controls">  
						<input name="username" type="text" placeholder="User name" ng-disabled="!doSave"
							   class="form-control" ng-model="user.username" required/>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="control-group" 
					ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }" >
	        		<label class="control-label" for="email">Email:
	        			<span ng-messages="userForm.email.$error"
	        		 		ng-messages-include="common/views/messages/error.html" ></span> 	
	        		</label>
					<div class="controls">  
						<input name="email" type="email" placeholder="Email"
							   class="form-control" ng-model="user.email" required/>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">			
				<div class="control-group" 
					ng-class="{ 'has-error' : userForm.role.$invalid && !userForm.role.$pristine }" >
					<label class="control-label" for="role">Authority:
						<span ng-messages="userForm.role.$error"
							ng-messages-include="common/views/messages/error.html" ></span>
					</label>
        			<div class="controls">
						<select name="role" ng-model="user.authority" ng-selected="user.authority"
		        			class="form-control" ng-options="role.authority as role.authority for role in userCtrl.roles" required>
		        			<option value="">Pick a role</option>
		        		</select>  					        	
		        	</div>
    			</div>
    		</div>	
    	</div>
    	<div class="row">	
    		<div class="col-md-3">			
				<div class="control-group" 
					ng-class="{ 'has-error' : userForm.rolegroup.$invalid && !userForm.rolegroup.$pristine }" >
					<label class="control-label" for="rolegroup">Group (Pick one group):
						<span ng-messages="userForm.rolegroup.$error"
							ng-messages-include="common/views/messages/error.html" ></span>
					</label>
        			<div class="controls">
						<select name="rolegroup" ng-model="user.rolegroups" ng-disabled="!doSave"
                                ng-selected="user.rolegroups" multiple
		        			class="form-control" ng-options="group.name as group.name for group in userCtrl.rolegroups" required>
		        		</select>  					        	
		        	</div>
    			</div>
    		</div>
		</div>
        <div class="row" ng-show="!doSave">
            <div class="col-md-6">
                <div class="control-group">
                    <label class="control-label">Token:</label>
                    <div class="controls">
                        <div class="form-control" >{{user.token}}</div>
                    </div>
                </div>
            </div>
        </div>

		<div class="row" ng-show="!doSave">
			<div class="col-md-1">
				<div class="control-group">
					<label class="control-label" for="enabled">Enabled:</label>
					<div class="controls">
						<input name="enabled" type="checkbox" ng-model="user.enabled" ng-disabled="doSave" class="form-control" >
					</div>
				</div>
			</div>
            <div class="col-md-2">
                <div class="control-group">
                    <label class="control-label" for="enabled">Account Locked:</label>
                    <div class="controls">
                        <input name="enabled" type="checkbox" ng-model="user.accountLocked" ng-disabled="doSave" class="form-control" >
                    </div>
                </div>
            </div>
			<div class="col-md-2">
				<div class="control-group">
					<label class="control-label" for="enabled">System role:</label>
					<div class="controls">
						<input name="enabled" type="checkbox" ng-model="user.systemRole.system" ng-disabled="doSave" class="form-control" >
					</div>
				</div>
			</div>
		</div>



		<br/>
		<div class="form-actions" >
			<button type="submit" class="btn btn-primary" 
                ng-disabled="userForm.$error.required" ng-show="doSave"
                ng-click="userCtrl.save()" >Add User</button>

			<button type="submit" class="btn btn-primary" ng-show="!doSave"
					ng-click="userCtrl.update()" >Edit User</button>
		</div>
	</form>
</div>