<div sha-loading-spinner="viewLoading">
    <h3 class="page-header">Section List</h3>
    
   
	<div class="row" >	
		<div class="col-md-6"></div>
		<div class="col-md-4 col-middle">
			<input placeholder="Search word" type="search" value="" class="form-control" 
				ng-model="search"  ng-change="searchTable(search)"/>
		</div>					
		<div class="col-md-2 col-middle">
			<button type="button" class="btn btn-success btn-sm" ng-click="addMeta()">
            	<span class="glyphicon glyphicon-plus-sign"/> Add Section Group
        	</button>
		</div>
	</div>	

    <div class="container container-xs-height col-bottom">
    	<pagination ng-change="pageChanged(currentPage)" items-per-page="itemsPerPage" total-items="totalItems" 
			ng-model="currentPage" max-size="maxSize" class="pagination pagination-sm" boundary-links="true"></pagination>
    </div>
    
    <div class="table-responsive" > 	 
	    <table class="table table-striped table-bordered" >
	        <thead>
	            <tr>
	            	<th width="5%" ></th>
	                <th width="25%" ><a href="" ng-click="reverse=!reverse;order('title', reverse)">Title</a></th>
	                <th width="25%" ><a href="" ng-click="reverse=!reverse;order('originalTitle', reverse)">Original Title</a></th>
	                <th width="25%" ><a href="" ng-click="reverse=!reverse;order('category', reverse)">Category</a></th>
	                <th width="20%">Section</th>
	            </tr>
	        </thead>
	        <tbody ng-repeat="g in groups" >   <!--  | filter: searchKeyword  -->
	            <tr>
	            	<td>
	              		<button ng-if="g.expanded" ng-click="g.expanded = false">-</button>
	              		<button ng-if="!g.expanded" ng-click="g.expanded = true">+</button>
	            	</td>
	            	<td>{{g.title}}</td>
	                <td>{{g.originalTitle}}</td>
	                <td>{{g.category}}</td>
	                <td>
	                	<button ng-click="editSection(g)" tooltip="Add">
	                    	<i class="glyphicon glyphicon-plus-sign"> </i>
	                    </button>
	                   	<button ng-click="editMeta(g.id)" tooltip="Edit">
	                    	<i class="glyphicon glyphicon-pencil"> </i>
	                    </button>	
	                    <button ng-click="delMeta(g)" tooltip="Remove">
	                    	<i class="glyphicon glyphicon-remove-circle"> </i>
	                    </button>	
	                </td>
	            </tr>
	            <tr ng-if="g.expanded" ng-repeat-end="">
	            	<td colspan="4">
	            		<table class="table">
	            			<tr> 
	            				<td></td>
	            			</tr>
	            		</table>
	            	</td>
	          	</tr> 
	        </tbody>
	    </table>
	</div>
	   <p>
        Total items: {{totalItems}}<br />
        Items per page: {{itemsPerPage}}<br />
        Current Page: {{currentPage}}<br />
      </p>
    
</div>
