<div layout="column" ng-cloak>
    <md-content>
        <div ng-include="'static/webpoint/screen/views/menu.html'"></div>
        <md-list>
            <md-subheader class="md-no-sticky">List of songs collections
                <span flex-offset="0" flex-offset-gt-xs="5">
                    <md-checkbox aria-label="Checkbox Remove key" ng-model="withoutkeys">Remove key</md-checkbox>
                </span>
            </md-subheader>
            <div ng-repeat="p in items">

                <div layout="row"  layout-margin>
                    <div flex="5" flex-offset="5" >
                        <a href class="expandSign" ng-if="p.expanded" ng-click="mainViewList.clickExpand(p)">-</a>
                        <a href class="expandSign" ng-if="!p.expanded" ng-click="mainViewList.clickExpand(p)">+</a>
                    </div>
                    <div flex="50" class="rowPart" ng-click="mainViewList.gotoScreen(p.id)" >{{p.name}}</div>

                    <div flex="20" flex class="rowPart" md-position-mode = "target-right target"
                         ng-click="mainViewList.gotoSlideShow(p.id)">
                        <md-icon md-menu-align-target class="material-icons">slideshow</md-icon>
                    </div>
                    <div flex="20" flex class="rowPart" md-position-mode = "target-right target"
                         ng-click="mainViewList.gotoSlideShowExludeKeys(p.id)">
                        <md-icon md-menu-align-target class="material-icons">slideshow</md-icon> Singers
                    </div>
                    <div flex="10" flex class="rowPart" md-position-mode = "target-right target"
                         ng-click="mainViewList.updateSlideShowList(p.id)" ng-if="mainViewList.isAdmin">
                        <md-icon md-menu-align-target class="material-icons">slideshow</md-icon> Update
                    </div>

                </div>
                <div flex-offset="5" ng-if="p.expanded" >
                    <div ng-repeat="part in p.pageParts">&nbsp;&nbsp;&bull;&nbsp;{{part.section.title}}</div>
                </div>
                <md-divider ></md-divider>
            </div>
        </md-list>

    </md-content>
    <div ng-include="'static/webpoint/screen/views/include/footer.html'"></div>
</div>