<div layout="column" ng-cloak>
    <div id="snackbar">{{tmpSong.section.title}}</div>
    <div id="wrap">
        <div ng-if="vm.pageList.pageParts[currentPart].section.type == 'IMAGE'"
             class="vyImgArea">
            <img class="stretch" alt=""
                 src="data:image/JPG;base64,{{pageList.pageParts[currentPart].section.binary.$$state.value[currentPage].base64}}">
        </div>
        <div ng-if="vm.activeSong.section.type == 'TEXT'
                            || vm.activeSong.section.type == 'TEXTCHORDS'"
             class="slideShowMainArea" layout="row" ng-style="vm.fontSize"
             ng-bind-html="vm.activeSong.section.fdata" >
        </div>
    </div>
    <div hide-xs class="sideLeftBtn sideBtn" ng-click="vm.left()" keyleft>
        <i class="material-icons md-28">chevron_left</i>
    </div>
    <div hide-xs class="sideRightBtn sideBtn" ng-click="vm.right()" keyright>
        <i class="material-icons md-28">chevron_right</i>
    </div>
</div>
