<div ng-cloak  layout="column">

    <md-content  flex>
        <div ng-init="hideSongList = true" ng-include="'static/webpoint/screen/views/menu.html'"></div>
        <md-subheader >Song list</md-subheader>

        <!-- div class="md-virtual">
            <md-virtual-repeat-container id="vertical-container" >
                <div md-virtual-repeat="s in infiniteItems" md-on-demand
                     class="repeated-item" flex>
                    <h5>
                        {{s}}
                    </h5>
                    <md-divider ></md-divider>
                </div>
            </md-virtual-repeat-container>


            <md-virtual-repeat-container id="vertical-container" md-top-index="topIndex">
                <div md-virtual-repeat="o in alphabeticalList" md-item-size="10"
                     class="repeated-item" flex>
                    <h4>{{o.letter}}</h4>
                    <div ng-repeat="s in o.list | orderBy:'title'">
                        <div class="songItem">
                            <a href="" ng-click="showAdvanced($event,s)">{{s.title}}</a>
                        </div>
                    </div>
                </div>
            </md-virtual-repeat-container>

        </div -->
        <md-divider ></md-divider>

        <div class="songList" ng-repeat="o in alphabeticalList" flex>
            <h4>{{o.letter}}</h4>
            <div ng-repeat="s in o.list | orderBy:'title'"  layout="row">
                <div class="songItem" flex="70">
                    <a href="" ng-click="showAdvanced($event,s)">{{s.title}}</a>
                </div>
                <div flex></div>
            </div>
        </div>

    </md-content>
    <!-- div>
        <div infinite-scroll='loadMore()' infinite-scroll-distance='20'>
            <img ng-repeat='image in images' ng-src='http://placehold.it/225x250&text={{image}}'>
        </div>
    </div -->
    <div ng-include="'static/webpoint/screen/views/include/footer.html'"></div>
</div>