<div id="content" ng-cloak layout-gt-sm="row" layout="column">

    <md-content  flex>
        <md-toolbar layout="row" class="md-hue-2">
            <div class="md-toolbar-tools">
                <h1> Songpoint </h1>
            </div>
            <md-button aria-label="Open menu" ng-click="$mdMenu.open($event)">
                <md-icon md-menu-align-target class="material-icons md-24">menu</md-icon>
            </md-button>

        </md-toolbar>
        <md-subheader >Song list</md-subheader>


        <div ng-if="song.type == 'TEXT'
                                || song.type == 'TEXTCHORDS'"
             class="vyMainArea"  ng-class="fontSize" layout="row"
             ng-bind-html="song.data" >
        </div>

    </md-content>

</div>