/* app css stylesheet */
html, code, kbd, pre, samp {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html, body {
    height: 100%;
    -webkit-overflow-scrolling: touch;
}
body
{
   font-size: 2.2em;
   color: #000;
   font: Verdana, Arial, 'sans-serif';
}
h1, h2, h3, h4, h5, h6, h7, h8 {
    font-weight: bold;
    padding: 8px 0px;
}

/* angular-material begian */
/* Rules for sizing the icon. */
.material-icons.md-16 { font-size: 1.8vh; }
.material-icons.md-18 { font-size: 2.6vh; }
.material-icons.md-20 { font-size: 1.8vw; }
.material-icons.md-22 { font-size: 2.8vw; }
.material-icons.md-24 { font-size: 4.2vw; }
.material-icons.md-36 { font-size: 5.4vw; }
.material-icons.md-48 { font-size: 6.8vw; }
.padding-left-3 {margin-left: 5px;}
.padding-bottom-3 {padding-bottom: 3px;}
.icon-wrapper {margin: 0 0.1em; display: inline-flex; vertical-align: middle; align-items: center;}
p.icon-text{ margin: 0.1em 0.2em; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


.virtualRepeatdemoVerticalUsage #vertical-container {
  height: 292px;
  width: 100%;
  max-width: 400px;
}
.virtualRepeatdemoVerticalUsage .repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  height: 40px;
  padding-top: 10px;
}
.virtualRepeatdemoVerticalUsage md-content {
  margin: 16px;
}
.virtualRepeatdemoVerticalUsage md-virtual-repeat-container {
  border: solid 1px grey;
}
.virtualRepeatdemoVerticalUsage .md-virtual-repeat-container .md-virtual-repeat-offsetter div {
  padding-left: 16px;
}

md-sidenav,
md-sidenav.md-locked-open-add-active,
md-sidenav.md-closed.md-locked-open-add-active,
md-sidenav.md-locked-open {
  width: 340px;
  min-width: 300px;
  max-width: 340px;
}


.md-subheader{
    font-size: 0.9em;
}

.size-text{
    font-size: 0.8em;

}

md-list-item.sidenav-list-item  {
    font-size: 0.6em;
    padding:0;
    margin:0;
}
md-list-item.sidenav-list-item span.mdl-list_item-primary-content  {
    margin:0 0.2em;
}
md-list-item.sidenav-list-item span.mdl-list_item-secondary-action{
    margin-right:2.0em;
}
md-backdrop.md-sidenav-backdrop{
    display:none;
}
/* angular-material end */

#wrap {
    position: absolute;
    height: 100%;
    top: 0; right: 0; bottom: 0; left: 0;
}
.expandSign{
    font-weight:bold;
    padding-right:0.6em;
}
table
{
 height: 100%;
 width: 100%;
}
table.vy {
    display: table;
    width: 100%;
    height:100%;
    margin-top:0px;
    border: 10px;
}
table tr{
	margin:0px;
    padding:0px;
}
table tr.vyRow{
	height:100%;
	margin:0px;
    padding:0px;
}
div.vyArea_s0{ font-size: 3.2vw;}
div.vyArea_s1{ font-size: 3.2vh;}
div.vyArea_s2{ font-size: 2.8vh;}
div.vyArea_s3{ font-size: 2.2vh;}
table td.vyArea {
	width:94%;
	height:100%;
	padding: 0.2em 0.05em 0.05em 0.2em;
	margin: 0;
}
div.vyArea {
    height:96%;
    line-height: 110%;
    white-space: pre;
    overflow: scroll;
    left: 0px;
    top: 0px;
}
div.vyImgArea {
    height:100%;
    /*max-height: 1400px;*/
    left: 0px;
    top: 0px;
}
@media (max-width: 380px) {
    .stretch {
        height: 76%;
        padding: 0.2em 0.1em;
        position: absolute;
        top: 0px;
    }
}
@media (min-width: 768px) {
    .stretch {
        height: 94%;
        padding: 0.2em 0.1em;
        position: absolute;
        top: 0px;
    }
}
@media (min-width: 1200px) {
    .stretch {
        height: 98%;
        padding: 0.4em 0.1em;
        /*width: 60%;
        max-height: 1200px;*/
        position: absolute;
        top: 0px;
    }
}
div.printOut {
    padding: 1.2em 0 1.4em 0;
    font-size: 1.3em;
}
div.printOut .body{
    line-height: 110%;
    white-space: pre;
}

table td.sideLeftBtn{
    width:1%;
    height:100%;
    /*max-height: 1400px;*/
	color: #404040;
	vertical-align: top;
	padding: 0;
	outline:none
    /*background: -webkit-linear-gradient(left, rgba(100,100,200,0), rgba(100,100,200,4)); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(right, rgba(100,100,200,0), rgba(100,100,200,4)); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(left, rgba(100,100,200,0), rgba(100,100,200,4)); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(to left, rgba(200,200,200,0), rgba(200,200,200,4)); /* Standard syntax (must be last) */
}
table td.sideRightBtn{
    width:1%;
    height:100%;
    /*max-height: 1400px;*/
	color: #404040;
	vertical-align: top;
	padding: 0;
	outline:none
    /*background: -webkit-linear-gradient(left, rgba(100,100,200,0), rgba(100,100,200,2)); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(right, rgba(100,100,200,0), rgba(100,100,200,2)); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(right, rgba(100,100,200,0), rgba(100,100,200,2)); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(to right, rgba(100,100,200,0), rgba(100,100,200,2)); /* Standard syntax (must be last) */
}
table td.sideLeftPageBtn{
    width:1%;
    height:100%;
	color: #404040;
	vertical-align: top;
	padding-top: 5em;
	outline:none
}
table td.sideRightPageBtn{
    width:1%;
    height:100%;
	color: #404040;
	vertical-align: top;
	padding-top: 5em;
	outline:none
}
table td.icon-List {
    width: 1%;
    vertical-align: top;
    color: #888;
    padding: 0;
    margin: 0;
}

div.toggleSideNav{
	color: black;
	font-size:5vw;
	padding: 0;
	margin: 0;
}

span.glyphicon-plus-sign, span.glyphicon-pencil, span.glyphicon-remove-circle {
    font-size: 0.9em;
}
button{
    padding:0.1vh;
    margin-left:0.2em;
    margin-right:0.2em;
}

.angular-with-newlines {
  white-space: pre;
  /* white-space: pre-line; */
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
@media (max-width: 380px) {
    md-sidenav,
    md-sidenav.md-locked-open-add-active,
    md-sidenav.md-closed.md-locked-open-add-active,
    md-sidenav.md-locked-open {
      width: 240px;
      min-width: 200px;
      max-width: 240px;
    }
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}

Then just add the alignments Css.

/* firefox fix */
.img-responsive {
    width: 100%;
}

/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}

[tooltip]:before {  
	content : attr(tooltip);
	position : absolute;
    padding: 4px 8px;
    margin: -60px 0 0 -60px;
    background: #fefdcd;
    border: 2px solid #c0c0c0;
    border-radius: 4px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
    z-index: 1;
    opacity : 0;
}
[tooltip]:hover:before {        
    opacity : 1;
}

.ng-invalid {
    border-color: #b94a48;
    outline-color: #b94a48;
}

.ng-valid {
    border-color: green;
    outline-color: green;
}

.messages {
  font-size: smaller;
  padding-left: 8px;
  padding-bottom: 2px;
  color: #b94a48;
  display:inline-block;
}